[Unit]
Description=URL Redirection Server for Virtual Machines
# Place this service in ~/.config/systemd/user/urlredirect.service
PartOf=graphical-session.target
After=network-online.target graphical-session.target xdg-desktop-portal.service
Wants=network-online.target graphical-session.target xdg-desktop-portal.service

[Service]
Type=simple
ExecStart=%h/.local/bin/urlredirect -p 10080
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=urlredirect

[Install]
WantedBy=graphical-session.target

