[Unit]
Description=URL Redirection Server for Virtual Machines
# Place this service in ~/.config/systemd/user/urlredirect.service
After=network-online.target graphical-session.target
Wants=network-online.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/urlredirect -p 10080
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=urlredirect

Environment="DISPLAY=:0"
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=%t/bus"
Environment="XDG_RUNTIME_DIR=%t"
# Change this to KDE/GNOME/XFCE/Unity/etc.
Environment="XDG_CURRENT_DESKTOP=KDE"

[Install]
WantedBy=graphical-session.target

